[Desktop Entry]
Name=Just Note
Comment=Quick note and that's all we need!
Exec=qmlscene %u app/Main.qml --scaling --gles 
Terminal=false
Type=Application
Icon=icon.png
X-Lomiri-Touch=true

X-Lomiri-Splash-Color=#fce852
X-Lomiri-Splash-Image=icon-splash.png

Name[en_US]=justnote
